:root {
  --primary: #ff742d;
  --secondary: #fff;
  --black: #000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  background: url("./assets/imgs/bg.png");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 30vh);
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  background: #ff7bab;
  height: 93vh;
}

.login .img-container {
  width: 65%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe9f1;
  box-shadow: 2px 3px 18px 22px rgba(0, 0, 0, 0.1);
}

.login .img-container > img {
  width: 90%;
  height: 85%;
}

.form-container {
  width: 31%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffe9f1;
}

.form-container > h3 {
  margin-bottom: 4rem;
  font-size: 3.2rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}

.form-container > h3 > span {
  font-weight: 600;
  color: #d9677b;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#username {
  width: 328px;
  height: 48px;
  border: 0.6px solid #6c6a6a;
  border-radius: 8px;
  margin-bottom: 0.8rem;

  font-family: "Outfit", sans-serif;

  padding: 0rem 1rem;
}

#password {
  width: 328px;
  height: 48px;
  border: 0.6px solid #6c6a6a;
  border-radius: 8px;

  font-family: "Outfit", sans-serif;
  padding: 0rem 1rem;
}

form > a {
  font-family: "Outfit", sans-serif;
  font-size: 13px;
  margin-top: 0.2rem;
  width: 100%;
  text-align: end;
  text-decoration: none;
  color: black;
}

form > button {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 328px;
  height: 48px;
  background: #d9677b;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

.login-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.login-btn {
  width: 75px;
  height: 48px;

  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#rule {
  font-family: "Outfit";
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 2.2rem;
}

#register {
  margin-top: 3rem;
  font-family: "Outfit";
  font-weight: 300;
  font-size: 13px;
}

#register > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
